$btn-color:$base-accent-color;
$btn-alt-color:$base-color;
%button {
  position: relative;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: em(18);
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  @include transition(background 0.1s linear);
  &:hover {
    color: white;
  }
  &:disabled {
    cursor: not-allowed; 
    opacity: 0.5;
  }
  &:after {
    content: '';
  }
}

.btn {
  @extend %button;
  background-color: $red;
  border: 2px solid $red;
  color: $white;
  padding: em(14,18) em(32,18);
  &:hover {    
    border: 2px solid $blue;
    background-color: $blue; color: $white;
  }
  &:focus{
    background-color: $blue;
    border: 2px solid $blue;
    color: $white;
  }
}
.btn2 {
  @extend %button;
  background-color: $light-blue;
  border: 2px solid $light-blue;
  color: $white;
  padding: em(14,18) em(32,18);
  &:hover {    
    border: 2px solid $red;
    background-color: transparent; color: $red;
  }
  &:focus{
    border: 2px solid $red;
    background-color: transparent; color: $red;
  }
}
.btn-alt {
  @extend %button;
  border: 2px solid $red;
  background-color: transparent; 
  color: $red;
  padding: em(14,18) em(32,18);
  &:hover {
     background-color: $light-blue;
    border: 2px solid $light-blue;
    color: $white;
  }
  &:focus{
     background-color: $light-blue;
    border: 2px solid $light-blue;
    color: $white;
  }
  &:after {
    background-color: darken($btn-alt-color, 10%);
  }
}

.btn-sec {
  @extend %button;
  background-color: $red;
  border: 2px solid $red;
  color: $white;
  padding: em(13,18) em(32,18);
  &:hover {
    color: $red;
    background-color: transparent;
  }
  &:focus{
    background-color: $red;
    border: 2px solid $red;
    color: $white;
  }
  &:after {
    background-color: darken($btn-color, 10%);
  }
}

.btn-color {
  @extend %button;
  background-color: $red;
  border: 2px solid $red;
  color: $white;
  padding: em(14,18) em(32,18);
  &:hover, &:focus {
    color: $white;
    background-color: transparent;
    border-color: $white;
  }
  &:after {
    background-color: darken($btn-color, 10%);
  }
}
.btn-color-lg {
  @extend %button;
  background-color: $red;
  border: 2px solid $red;
  color: $white;
  padding: em(14,18) em(32,18);
  &:hover {
    color: $red;
    background-color: transparent;
    border-color: $red;
  }
  &:focus{
    background-color: $red;
    border: 2px solid $red;
    color: $white;
  }
}
.btn-color-alt {
  @extend %button;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  padding: em(14,18) em(30,18); 
  &:hover, &:focus {
    color: $white;
    background-color: $red;
    border-color: $red;
  }
}
.btn-color-alt-lg {
  @extend %button;
  background-color: transparent;
  border: 2px solid $white; 
  color: $white;
  padding: em(19,18) em(30,18);
  &:hover {
    color: $red;
    background-color: $white;
    border-color: $white;
  }
  &:focus{
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
  }
  &:after {
    background-color: darken($btn-color, 10%);
  }
}
button,
input[type="submit"] {
  @extend .btn;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-font-color;
    outline-offset: 2px;
  }
}

//Icon Buttons
%btn-ico {
  @extend %button;
  padding-right: 4em;
  &:after {
    content: '';
    display: block;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3em;
    position: absolute;
    background-position: center center;
    background-size: 1.5em;
    background-repeat: no-repeat;
    @include transition(background 0.1s linear);
  }
  &:hover {
    &:after {
      background-size: 2em;
    }
  }
}

.btn-download {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-alt-download {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-download.svg);
  }
}

.btn-arrow {
  @extend %btn-ico;
  @extend .btn;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}

.btn-alt-arrow {
  @extend %btn-ico;
  @extend .btn-alt;
  &:after {
    background-image: url(img/ico-white-arrow-right.svg);
  }
}
