.site-wrap {
  background: $white;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

/*=============== ADA Complaince styling ===================*/
#skipToContent {
  position: fixed;
  z-index: 0;
  top: 10px;
  left: 10px;
  opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 99999;
  }
}

.site-nav a {
    &:focus:not(:hover):not(:active) {
      outline-offset: -2px;
    }
    &.tse-remove-border {
      &:focus:not(:hover):not(:active) {
        outline: none;
        outline-offset: 0;
      }
    }
}

.nonlink {
  cursor: default;
  pointer-events: auto;
  @include mq(large) {
    pointer-events: none;
  }
}

.lightbox {
  display: inline-block;
  &.tse-remove-border {
    outline: none !important;
    &:focus {
      outline: none !important;
    }
  }
}

.tse-remove-border {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}


/*=============== Site Header ===============*/
.site-header-wrap {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.site-header {
  position: relative;
  z-index: 3;
  @include transition(0.25s all linear);
  background-color: #fff;
   @include mq(large){
    min-height: em(220);
   }
}

.sh-top{
  display: none;
  background-color: $dark-blue;
  position: relative;
  .inner-wrap {
    padding-top: em(10);
    padding-bottom: em(10);
  }
  @include mq(large){
    display: block;
  }
}

.sht-left{
  @include mq(large){
    width: 30%;
    float: left;
    position: relative;
  } 
}
.sht-mob {
  @include mq(large){
    display: none !important;
  }
}
.sht-right {

  @include mq(large){
    width: 70%;
    float: right;
    text-align: right;   

  }

}
.si-image {
  margin-top: em(20);
}
.sh-social {
  padding-left: em(20);
  li {
    display: inline-block;
  }
  a {
    vertical-align: middle;
    display: inline-block;
    margin-right: em(20);
    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
.btn-sh-reg{
  padding: 0;
  border-radius: 0;
  border: 0;
  max-width: em(171,18);
  width: 100%;
  line-height: em(49,18);
  &:hover{
    background-color: $white;
    color: $gray;
  }
  &:focus{
    border: 0;
  }
}

.btn-sh-login{
  padding: 0;
  border-radius: 0;
  max-width: em(142,18);
  width: 100%;
  line-height: em(47,18);
  @include mq(large){
    position: relative;
    right: -2px;
  }
}

.btn-mob-reg{
  border-radius: 0;
  font-size: em(17);
  padding: 0;
  max-width: em(87,17);
  width: 100%;
  line-height: em(47,17);
  @include mq(large){
    display: none;
  }
}

.btn-mob-login{
  border-radius: 0;
  font-size: em(17);
  padding: 0;
  max-width: em(63,17);
  width: 100%;
  line-height: em(47,17);
  @include mq(large){
    display: none;
  }
}

.sh-sticky-wrap {
  .inner-wrap{
    padding-top: em(0);
    padding-bottom: 0;
  }
  @include mq(large) {
    height: em(227);    
    background-color: $light-gray;
    @include transition(0.25s all linear);
    .inner-wrap{
      padding-top: em(0);
      padding-bottom: em(10);
    }
    &.stuck {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: 0px 2px 4px #e1e1e1;
      height: em(175);
      .inner-wrap {
        padding-top: em(0);
        padding-bottom: em(0);
      }
      .site-logo {        
        max-width: em(252);
      } 
      .anti-keystone-logo {
        max-width: em(183);
      }
      .nebco-logo {
        max-width: em(130);
      }
      .sh-nav-wrap {
        .inner-wrap-extra-wide {
          padding-bottom: em(10);
        }
      }
    }
  }
}
.logos-wrap {
   .inner-wrap-wide {
      padding-top: em(0);
      padding-bottom: em(0);
    }
}
.site-logo{
  display: block;
  max-width: em(300);
  @include mq(large){
    max-width: em(392);
    position: relative;
  }
}
.anti-keystone-logo {
    max-width: em(200);
  @include mq(large){
    max-width: em(283);
  }
}
.nebco-logo {
  max-width: em(150);
  @include mq(large){
    max-width: em(218);
  }
}
.sh-right { 
  @include mq(large){
    float: right;
    width: 100%;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    padding-top: em(0);
  }
  @include mq(xlarge){
    width: 100%;
    padding-top: em(0);
  }
}

.sh-utility-nav {
  @include display(flex);
  @include align-items(center); 
  @include justify-content(space-between);
  position: relative;
  padding-top: em(7);
  padding-bottom: em(7);

  > * {
    position: relative;
    z-index: 1;
  }
  @include mq(large){
    background-color: transparent;
    margin: 0;
    padding: 0;
    &:before{
      display: none;
    }
  }
}

.btn-rfq-mob{  
  padding: 0;
  font-size: em(17);
  max-width: em(93,17);
  width: 100%;
  line-height: em(54,17);
  border-width: 1px;
  @include mq(large) {
    display: none;
  }
}

.btn-rfq-desk{  
  display: none;
   @include mq(large) {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: em(16,16);
    width: 100%;
    padding: em(19,16) em(12,16);
    line-height: em(16,16);
    border-width: 1px;
    min-width: em(163);
    font-weight:700;
   }
  @include mq(large-lap) {
    min-width: em(212);    
    padding: em(19,16) em(28,16);
  } 
  @include mq(xlarge) {
    position: relative;
  }
}

.site-search {}

//Site Header Icons
.sh-icons {
  float: right;
  @include mq(medium) {}
}

%sh-ico {
  background-repeat: no-repeat;
  background-position: center top;
  display: inline-block;
  padding-top: 1.2em;
  width: 2em;
  margin-left: 1em;
  text-align: center;
  //background-color:red;
  text-decoration: none;
  span {
    font-size: .75em;
  }
  @include mq(medium) {
    //float:right;
  }
}

.sh-ph {
  margin: 0;
  color: $white;
  font-size: em(17);
  font-weight: 400;
  text-decoration: none;
  padding-left: em(26,18);
  position: relative;
  height: em(18,18);
  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: em(18,18);
    height: em(18,18);
    background-image: url(img/ico-phone-black.svg);
    background-size: em(18,18) em(18,18);
    background-repeat: no-repeat;
  } 
  @include mq(large){
    margin-left: em(45,16);
    height: auto;
    &:before{
      width: em(23,18);
      height: em(21,18);
      background-image: url(img/ico-phone.svg);
      top: 6px;
      background-size: em(22,18) em(18,18);
    }
    &:hover{
      color: $white;
      text-decoration: underline;
    }    
    &.sh-ph-mob{
      display: none;
    }
  }
}

.sh-email {
  margin: 0;
  color: $white;
  font-size: em(17);
  font-weight: 400;
  text-decoration: none;
  padding-left: em(23,18);
  position: relative;
  height: em(18,18);
  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: em(21,18);
    height: em(17,18);
    background-image: url(img/ico-mail-black.svg);
    background-size: em(21,18) em(17,18);
    background-repeat: no-repeat;
  }  
  @include mq(large){
    padding-left: em(22,16);
    height: auto;
    &:before{
      width: em(19,17);
      height: em(15,17);
      top: 7px;
      background-image: url(img/ico-mail.svg);
      background-size: em(19,17) em(12,17);
    }
    &:hover {
      text-decoration: underline;
      color: $white;      
    }    
    &.sh-email-mob{
      display: none;
    }
  }
}


.sh-ico-search {
  background-image: url(img/ico-search.svg);
  @extend %sh-ico;
  width: em(26);
  height: em(18);
  background-size: em(16) em(16);
  padding: 0;
  margin: 0;  
  display: inline-block;

  @include mq(large){
    margin-right: em(18);
    margin-left: em(8);   
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      padding: 0 9px;
    }    
  }
 
  @include mq(xxlarge) {
    margin-right: em(50);
    margin-left: em(10); 
  }
  span {
    display: none;
  }
}

.sh-ico-menu {
  background-image: url(img/menu.svg);
  @extend %sh-ico;
  margin: 0;
  padding: 0;
  width: em(19);
  height: em(19);  
  @include mq(large) {
    display: none;
  }
}
.shl-wrap {
  @include display(flex);
  @include justify-content(space-around);
  @include align-items(center);
  padding-top: em(18);
  padding-bottom: em(18); 
  a {
    margin: 0 em(5);
  }
  @include mq(large){
    a {
      margin: 0 em(10);
    }
    padding-top: em(8);
    padding-bottom: em(5);    
  }

}
.sh-nav-wrap {
  background-color: $light-gray;
}
/*=============== Site Intro ===============*/
.site-intro {
  text-align:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    content: '';
    background-image: url(img/hero/hero-gradient.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.6;
    height: 100%;
  }
  .inner-wrap {
    padding-top:em(74);
    padding-bottom:em(74);
  }
  @include mq(large) {
  text-align:left;
    .inner-wrap {
      padding-top:em(180);
      padding-bottom:em(180);
    }
  }
}

.si-wrap {
  position: relative;
  @include mq(large) {  
    @include display(flex);
    @include justify-content(center);
    .si-content {
      width: 70%;
    }
    .si-img {
      width: 30%;
    }
  }
}

  .si-header {
    font-size: em(30);
    line-height: em(37,40);
    text-transform: none;
    margin-bottom: 0;
    text-shadow: 1px 5px 5px rgba($black, 0.95);
    @include mq(medium) {
      font-size: em(38);
      line-height: em(47,38);
    }
  }
  .si-subheader {
    font-size: em(22,30);
    line-height: em(27,22);
    color: $white;
    margin: 0;
    font-family:$header-font-family;
    text-transform: none;
    text-shadow: 1px 5px 5px rgba($black, 0.95);
    font-weight: 600;
    @include mq(large) {
      font-size: em(28,38);
      line-height: em(34,28);    
    }
  }
  @include mq(medium) {
    text-align:left;
  }
  .si-txt {
    font-size: em(20);
    line-height: em(27,20);
    text-shadow: 1px 5px 5px rgba($black, 0.95);
    color: $white;
    margin: em(30,26) em(0) em(30,26) em(0);
    @include mq(large) {
      font-size: em(26);
      line-height: em(36,26);    
    }
  }
  .si-btn {
    margin: em(10);
    min-width: em(217,18);
    &:focus:not(:hover):not(:active) {
      outline-color: $white;
       outline-offset: 2px;
    }
    @include mq(large) {
      margin-right: em(70);
    }
  }
  .si-btn2 {
    background-color: $white;
    color: $red;
    margin: em(10);
    border-color: $white;
    &:hover, &:focus {
      color: $white;
      border-color: $white;
      background-color: transparent;
    }
    @include mq(large) {
      margin-right: em(0);
    }
  }
/*=============== Site Content ===============*/

//Layout formatting is in patterns.scss
.site-content {
  @include flex(1 0 auto); //sticky footer
}

.site-content-primary {}

.site-content-secondary {}

/*============ Sitemap Page styling ============*/
.sitemap-menu .sub-menu {
    padding-left: em(30);
    display: block !important;
}

/*=============== Site Footer ===============*/

.sf-top {
  background-color: $dark-blue;
  .inner-wrap {
    padding-top: em(50);
    padding-bottom: em(50);
      }

}
.site-footer {
  background-color: #f9f9f9;
  text-align: center;
  color: $dark-blue;
  @include mq(large){
    text-align: left;
  }
}

.sh-wrap {
  @include mq(large){
    @include display(flex);
    @include justify-content(center);
    @include align-items(top);

    .sf-nav {
      width: 25%;
      padding-right: em(20);
    }
  }
}
.sf-address {
  font-size: em(16);
  line-height: em(26,16);
  color: $white;
  margin-bottom: 0;
}

.sf-ph, .sf-fax, .sf-mail {  
  font-size: em(16);
  line-height: em(26,16);
  color: $white;
  margin: 0;
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      color: $lighter-blue;
    }
    span {
      display: inline-block;
    }
  }
}
.sf-small {
  background-color: $white;
  text-align: center;
  color: #0F0B53;
  
  .inner-wrap {
    padding-top: em(8);
    padding-bottom: em(8);
  }
}
.sf-social {
  margin-top: em(10);
  li {
    display: inline-block;
  }
  a {
    vertical-align: middle;
    display: inline-block;
    margin-left: em(20);
    img {
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.6;
    }
  }
   @include mq(large-lap){
    float: right;
    margin-top: em(0);
    text-align: right;
  }
}
.sf-copyright{
  font-size: em(16);
  text-align: center;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  @include mq(large-lap){
    float: left;
    text-align: left;
  }
 
}
.sf-nav {
  font-size: em(16);
 line-height: em(26,16);
  text-align: center;
   @include mq(large){
    text-align: left;
  }
 
}
.sf-nav-list li {
  display: block;
  a {
    text-decoration: none;
    display: inline-block;
    color: $white;
    &:hover, &:focus  {
      color: $lighter-blue;
    }
  }
   ul {
    li {
      a {
      position: relative;
      padding-left: 14px;

      &:before {
        content: '';
        top: 13px;
        left: 3px;
        position: absolute;
        width: 4px;
        height: 1px;
        background-color: $white;
      }
      &:hover, &:focus {
        &:before {
          background-color: $lighter-blue;
        }
      }
    }
  }
 }
}
.sf-logo {
  display: inline-block;
  img {
    vertical-align: middle;
  }
}
.sf-social-wrap{
  margin-top: em(16);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  span{
    margin-right: em(28);
  }
  img{
    max-height: em(20);
  }
  a{
    display: inline-block;
    margin-right: em(19);
    &:last-child{
      margin-right:0;
    }    
    &:hover, &:focus{
      .img-off{
        display:none;
      }
      .img-on{
        display: block;
      }
    }
    &:focus:not(:hover):not(:active) {
      outline: 2px dashed $white;
    }
  }
  @include mq(large){
    margin-top: 0;
    float: right;    
    @include justify-content(flex-end);
  }
}

.img-off{
  display: block;
}

.img-on{
  display: none;
}

//This removes the blank space Webtrax adds to the footer
img[name=pphLoggerImage] {
  display: none;
}


/*=============== Search ===============*/
.search-table {
  display: table;
  width: 100%;
  float: right;
  padding: 0;
}

.search-row {
  display: table-row;
  width: 100%;
}

.search-cell1 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 92%;
  }
}

.search-cell2 {
  display: table-cell;
  width: em(60);
  border: 0;
  vertical-align: middle;
  text-align: center;
  @include mq(large) {
    width: 6%;
  }
}

.search-cell3 {
  display: table-cell;
  vertical-align: middle;
  @include mq(large) {
    width: 3%;
    text-align: center;
  }
}

.search-text {
  font-size: .8em;
  width: 100%;
  height: 2.3em;
  border: 1px solid red;
  float: left;
  padding-left: .5em;
  margin-bottom: 0 !important;
  &:focus{
    border:0;
    box-shadow: none !important;
  }
}

.search-submit {
  width: em(22);
  margin: auto;
  height: 2.3em;
  border: 0 !important;
  margin: auto;
  padding: 0 !important;
  background: url(img/ico-search-white.svg) no-repeat center center !important;
  background-size: em(18) !important;
  outline:none;
  &:hover{
    border:0 !important;
  }
  &:focus{
    outline:none;
  }
}


@include mq(medium) {
  .site-search {
    width: 100%;
  }
  .search-text {
    height: 2.3em;
  }
  .search-submit {
    height: 2.3em; 
  }
}

@include mq(large) {
  .search {}
  .search-text {}
}

.search-module {
  background-color: $gray;
  height: 4em;
  margin-top: -4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
  position: fixed;
  left:0;
  right:0;
  z-index: -1;
  @include transition (all .2s ease-in-out);
  &.active {
    margin-top: 0;
    z-index: 999;
  }
  .inner-wrap {
    padding: em(13) 1.5em;
  }

}

.search-exit {
  font-size: 1em;
  width: em(16);
  height: em(16);
  background-image: url(img/ico-exit.svg);
  background-size: em(14) !important;
  background-position: center;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
 img{
    width: em(19);
    display: none;
  }

  @include mq(large) {
    margin-bottom: 0px;
  }
}


/*=============== Read More ===============*/

.main-content {
  display: block;
  overflow: hidden;
  position: relative;
  @include mq(medium) {
    display: inline;
  }
}
@include mq(small) {
  .height {
    max-height: em(250);
    &:before {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, #ffffff 100%);
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  .heightAuto {
    max-height: em(5000);
    &:before {
      display: none;
    }
  }
}

.link {
  display: block;
  text-align: center;
  font-weight: bold;
  color: $blue;
  padding-bottom: em(10);
  @include mq(medium) {
    display: none;
  }
}



.sh-top {
  a {
    &:focus:not(:hover):not(:active) {
      outline-color: $red;
       outline-offset: 2px;
    }

  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sh-ph{
    &:before{
      width: 23px;
      height: 21px;
      background-size: 18px 17px;
    }
  }
  .sh-email{
    &:before{
      width: 21px;
      height: 17px;
      top: 7px;
      background-size: 16px 12px;
    }
    &:hover {
      &:before{
        width: 21px;
        height: 17px;
        top: 7px;
        background-size: 16px 12px;
      }
    }
  }
  .sh-ico-search{
    width: 26px;
    height: 18px;
    background-size: 18px 18px;
  }
  .search-exit {
    width: 16px;
    height: 16px;
    background-size: 14px !important;    
  }
}

@supports (-ms-ime-align:auto) {
  .sh-ph{
    &:before{
      width: 23px;
      height: 21px;
      background-size: 18px 17px;
    }
  }
  .sh-email{
    &:before{
      width: 21px;
      height: 17px;
      top: 7px;
      background-size: 16px 12px;
    }
    &:hover {
      &:before{
        width: 21px;
        height: 17px;
        top: 7px;
        background-size: 16px 12px;
      }
    }
  }
 .sh-ico-search{
    width: 26px;
    height: 18px;
    background-size: 18px 18px;
  }
  .search-exit {
    width: 16px;
    height: 16px;
    background-size: 14px !important;    
  }
}




/* ============ Featured Products Module =========== */
.featured-products-module {
  background-color: $dark-blue;
  text-align: center;
  background-image: url(img/product2/product-gradient-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .inner-wrap {
    padding-top: em(65);
    padding-bottom: em(65);
  }
}
.fpm-heading {
  color: $white;
  text-align: center;
  text-transform: capitalize;
  font-size: em(32);
  line-height: em(45, 32);
  margin-bottom: em(8,40);
  @include mq(large) {
  font-size: em(40);
  line-height: em(55, 40);
  }
}
.fpm-subheading {
  color: $white;
  font-size: em(24);
  line-height: em(33,24);
  text-align: center;
  max-width: em(800,24);
  margin: auto;
  margin-bottom: em(50,24);
}
.fpm-item {
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: em(347);
  position: relative;
  overflow: hidden;
  max-width: em(350);
  margin: 0 auto;
  background: $white;
  &:hover {
    background-color: $brown;

    .fpm-text{
      display: block;
      opacity: 1;
      padding-left: em(6);
      padding-right: em(6);
    }
    .fpm-btn{
      display: inline-block;
      opacity: 1;
    }
    .fpm-overlay {
      height: 100%;
      background-color: rgba($brown, 0.8);
      margin: 0;
      > span {
        position: absolute;
        width: 83%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin:0 auto;
      }
    }
    .fpm-title {
      color: $white;
    }
  }
  &:focus:not(:hover):not(:active) {
    background-color: $brown;
    .fpm-text{
      display: block;
      opacity: 1;
      padding-left: em(20);
      padding-right: em(20);
    }
    .fpm-btn{
      display: inline-block;
      opacity: 1;
    }
    .fpm-title {
      color: $white;
    }
    .fpm-overlay {
      background-color: rgba($brown, 0.8);
      height: 100%;
      margin: 0;
      > span {
        position: absolute;
        width: 83%;
        max-width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin:0 auto;
      }
    }

  }
}
.fpm-img {
  position: relative;
  display: block;
}
.fpm-wrap {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center); 
  margin-left: em(-12);
  margin-right: em(-12); 
  > div {
    max-width: em(350);
    width: 100%;
    padding-left: em(12);
    padding-right: em(12);
    text-align: center;
    margin-bottom: em(24);
    @include mq(large) {
      max-width: inherit;
      float: left;
      width: 33.33%;
    }

  }
}
.fpm-overlay {
  background: $white;
  padding: em(0) em(20);
  margin: em(15) em(0);
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: em(73);
  text-align: center;
  @include transition(height 0.3s ease-in-out 0s);
  > span {
    @include transition(height 0.3s ease-in-out 0s);
  }
}
.fpm-title {
  font-size: em(22);
  line-height: em(28,22);
  color: $brown;
  font-weight: 700;
  display: block;
  margin:0;
  @include mq(large-lap) {
    font-size: em(27);
    line-height: em(33,27);
  }
}
.fpm-text {
  font-family: $header-font-family;
  font-size: em(18);
  color: $white;
  line-height: em(24,18);
  display: none;
  opacity: 0;
  margin:0;
  margin-top: em(25,18);
  margin-bottom: em(25,18);
  @include transition(opacity 0.3s ease-in-out 0s);
}

.fpm-btn{
  background-color: $red;
  border-color: $white; 
  color: $white;
  display: none;
  opacity: 0;
  margin:0;
}
.fpm-cta {
  margin-top: em(22,18);
 
}

 /* ========= Industries Served ========== */
 .industries-served-module {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  .inner-wrap {
    padding-top: em(84);
    padding-bottom: 0;
  }
  .inner-wrap-wide {
    padding-top: em(20);
    padding-bottom: em(90);
  }
 }
 .ism-heading {
  font-size: em(34);
  line-height: em(36,34);
  text-transform: capitalize;
  text-shadow: 1px 5px 5px rgba($black, 0.95);
  color: $white;
 }
 .ism-subheading {
  font-size: em(24);
  line-height: em(33,24);
  text-shadow: 1px 5px 5px rgba($black, 0.95);
  color: $white;
 }
 .ism-wrap {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(top);
 }
 .ism-item {
  width: 50%;
  float: left;
  margin-bottom: em(10);
  @include mq(medium) {
    width: 33.33%;
  }
  @include mq(large) {
    width: 25%;
  }
  @include mq(large-lap) {
    width: 20%;
  }
  @include mq(xlarge) {
    width: 12.5%;
  }
  > div {
    max-width: em(127);
    margin: auto;
  }
 }
 .ism-title {
  font-size: em(16);
  line-height: em(16,22);
  color: $white;
  font-weight: 700;
  text-shadow: 1px 5px 5px rgba($black, 0.95);  
 }
 .ism-cta {
  &:hover {
    background-color: transparent;
    color:  $white;
  }
 }

 .compression-packing-supplier-module {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .inner-wrap {
    padding-top: em(65);
    padding-bottom: em(60);
  }
  &:before {
    content: '';
    background-image: url(img/fullwidth-cta-gradient.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    height: 100%;
    opacity: 0.4;
  }
 }
 .cpsm-wrap {
    max-width: em(710);
    position: relative;
    text-align: center;
    margin: auto;
    @include mq(large) {
      margin-left: 0;
      text-align: left;
    }
 }
 .cpsm-heading {
  font-size: em(36);
  line-height: em(44,36);
  text-shadow: 1px 5px 5px rgba($black, 0.95);  
  text-transform: capitalize;
  color: white;
  
 }
 .cpsm-subheading {
  font-size: em(22);
  line-height: em(28,22);
  color: white;
  text-shadow: 1px 5px 5px rgba($black, 0.95);  
  text-align: center;
  @include mq(large) {
    text-align: left;
  }
 }

.cpsm-cta1 {
  min-width: em(240,18);
  text-align: center;
  margin: em(20) em(10) em(10) em(10);
  @include mq(large) {
    margin:em(20) em(60) em(0) em(0);
    margin-right: em(60);
  }
}
.cpsm-cta2 {
  min-width: em(240,18);
  margin: em(20) em(10) em(10) em(10);
  background-color: $white;
  color: $red;
  border-color: $white;
  @include mq(large) {
    margin:em(20) em(0) em(0) em(0);
  }
  &:hover {    
    background-color: transparent;
    color: $white;
    border-color: $white;
  }
}


/* ========== About Us ========== */
.about-us-module {
  background-color: $light-gray;
}
.aum-wrap {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(top);
}
.aum-heading {
  color: $blue;
  text-transform: capitalize;
  font-weight: 600;
  font-size: em(28);
  line-height: em(30,28);
  margin-top: em(50,34);
  margin-bottom: em(20,34);
  @include mq(large) {
    font-size: em(34);
    line-height: em(36,34);
  }
}
.aum-products {
  width: 100%;
  @include mq(large) {
    width: 50%;
    padding-right: em(30);
  }
}
.aum-content {
  @include mq(large) {
    width: 100%;
    @include mq(large) {
      width: 50%;
    }
  }
}
.aum-list {
  max-width: em(530);
  padding-left: em(30);
  li {
    font-size: em(20);
    line-height: em(28,20);
    padding-left: em(20);
    background-image: url(img/arrow.svg);
    background-repeat: no-repeat;
    background-position: left em(6);
    margin-bottom: em(28,20);
    color: $gray;
  }
}
.aum-cta {
  padding: em(15,20) em(18,20);
  font-size: em(20);
  &:hover {
    background-color: transparent;
    border-color: $red;
    color: $red;
  }
}

.aum-products {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);
  @include align-items(center);
  .aump-item {
    width: 100%;
    text-align: center;
  }
  @include mq(medium) {
    .aump-item {
      width: 50%;
    }
  }  
} 
.aump-title {
  font-size: em(18);
  line-height: em(28,18);
  color: $blue;
  font-weight: 600;
  font-family: $header-font-family;
  display: block;
  text-align: center; 
}
.aum-cta-wrap {
  display: block;
  padding-left: em(30);
  .aum-cta {    
    display: inline-block;
    margin-right: em(0);    
    vertical-align: middle;
    @include mq(large-lap) { 
      margin-right: em(60);    
    }
  }
  .aum-akii {
    display: inline-block;    
    vertical-align: middle;
    margin-top: 20px;
    img {
      vertical-align: middle;
    }
  }
}

.tm-heading {
  font-size: em(36);
  line-height: em(26);
  color: $blue;
  text-transform: capitalize;
  position: relative;
  margin-bottom: em(44,36);
  text-align: center;
}
.technical-module {  
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($white, 0.94);
  }
  .inner-wrap {
    padding-top: em(100);
    padding-bottom: em(135);
  }
}

.tm-wrap {
  @include mq(large) {  
    column-count: 2;  
    column-gap: em(10);
    .tm-items {
      width: 100%;
      position: relative;       
    }
  }
  .tm-items {
    max-width: em(576);
    margin: auto;
    margin-bottom: em(20);   
    position: relative;       
    border: 1px solid $blue;
    &:first-child , &:last-child {
      height: em(322);
    }
    &:last-child {
      margin-bottom: em(0);   

     }
    &:nth-child(2) , &:nth-child(3) {
      height: em(221);
    }
    > a {
      display: inline-block;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      .tm-title {
        background-color: $brown;
         span {
            background-image: url(img/arrow-white.svg);
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              background-size: 11px 16px;
            }
         }
      }
    }
  }
} 
.tm-img {
  position: absolute;
  bottom: em(60);
  right: em(15s);
}
.tm-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: $blue;
  left: 0;
  color: $white;
  font-size: em(20);
  line-height: em(27,20);
  font-weight: 700;
  padding: em(11) em(20);
  span {
    padding-right: em(18);
    background-image: url(img/arrow-blue.svg);
    background-repeat: no-repeat;
    background-position: right 6px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-size: 11px 16px;
    }
  }
}