//Site Nav
.site-nav,
#hs_menu_wrapper_primary_nav {
  /*background-color: $nav-background-mobile;*/
  span {
    white-space: nowrap;
  }
  &.active {
    //display:block;
  }
  @include mq(large) {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    /*background-color: $nav-background;*/
  } 
}

.sn-level-1,
#hs_menu_wrapper_primary_nav > ul {
  margin: 0;
  padding: 0;
  @include mq(large) {
    height: $nav-height;
    @include display(flex); //display: flex;
  }
}

.sn-li-l1,
.hs-menu-depth-1 {
  display: block;
  border-bottom: $nav-border-mobile;
  /*background-color: $nav-background;*/
  position: relative;
  font-size: em(16);
   a.active {
    color: $red;
   }


  > a {
    display: inline-block;
    height: auto;
    line-height: normal;
    color: $white;
    text-decoration: none;
    padding: em(11) $nav-spacing-mobile;
    padding-left: em(13);
    &:visited {
      color: $nav-text-color;
    }
    &.active {
      color: $red;
    }
    &:hover {
      color: $nav-text-color-hover-mobile;
    }
    @include mq(large) {
      padding: em(13) $nav-spacing-mobile;
    }
  }
  &.has-subnav,
  &.menu-item-has-children,
  &.hs-item-has-children {
    @include mq(large) {
      padding-right: em(12);
    } 
    .m-subnav-arrow {
      cursor: pointer;
        padding-right: 0em;
        background-image: url(img/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: em(11);
        display: inline-block;
        width: 42px;
        height: 42px;
        transform: rotate(0deg);
        transform-origin: center;
        vertical-align:middle;
        &.active {
          transform-origin: center;
          }
        @include mq(large) {
          width: 11px;
          height: 12px;
          transition:0.3s;
          transform: rotate(0deg);
        }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            background-size: 10px;
            width: 14px;
            height: 14px;
          }
    }
    > a {
      span {        
        display: block;
      }
      &.active {
        span {
          transform: rotate(180deg);
          transform-origin: center;
        }
      }
    }
  }
  &:hover, &.active {
    background-color: $white;    
    .m-subnav-arrow {
    transform: rotate(90deg);
    transition:0.3s;
    }
     > a {
      color: $nav-text-color-hover;
     }
  }
  @include mq(large) {
    height: $nav-height;
    float: left;
    border: 0;
    @include flex-grow(1); //flex-grow: 1;
    
    &:first-child{
      margin-left:0;
      border-top: 0;
    }
    span {
      font-size: em(15,17);
      position: relative;
      top: -1px;

    }
    > a {
      padding: 0 em(5);
      color: $nav-text-color;
      line-height:em(50,16);
      &:hover {
        color: $nav-text-color-hover;
      }
    }    
    &:hover {
      background-color: $light-gray;
      .sn-level-2,
      .hs-menu-children-wrapper {
        display: block !important;
      }
    }
    &.has-subnav,
    &.menu-item-has-children,
    &.hs-item-has-children {
      .m-subnav-arrow {
        //display: none;
      }
      > a {
        span {
          display: inline;
        }
        &.active {
          span {
            background-image: url(img/ico-arrow-down.svg);
          }
        }
      }
    }   
  }
  @include mq(large-lap) {
    margin-left: em(5);
    > a {
      padding: 0 em(5)
      
    }
    
  }

  @include mq(large-lap) {
    span {
      font-size: em(16);
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //font-size: 13px;

        }
    }
  }
  @include mq(xxlarge) {
    margin-left: em(10);
  }
}

.sn-level-2, 
.hs-menu-children-wrapper {
  padding: 0;
  margin: 0;
  display: none;
  position: relative;

  &.active {
    display: block;

  }
  @include mq(large) {
    position: absolute;
    z-index: 11;
    min-width: em(221);
    top: 100%;
   

    &.active {
      display: none;
    }
   
  }
}

.sn-li-l2,
.hs-menu-depth-2 {
  background-color: $nav-subnav-background-mobile;
  &:first-child {
    border-bottom:none;
  }
  > a {
    //background-color:red;
    padding: em(11) $nav-spacing-mobile;
    padding-left: em(23);
    color: $white;
    display: block;
    text-decoration: none;
    line-height: normal;
    span {
      font-size: em(16);
      line-height: 1.25em;
      display: inline-block;
      vertical-align: middle;
      /*font-weight: normal;*/
      @include mq(large) {
        font-size: $nav-subnav-font-size-mobile;
      }
    }
    @include mq(large) {
      padding: em(12.5) $nav-spacing-mobile;
    }
  }
  &:last-child {    
  }
  &:hover, &.active {
    background-color: $nav-subnav-hover-mobile;
    > a {
      color: $white;
    }
  }
  @include mq(large) {
    position:relative;
    background-color: $nav-subnav-background;
    > a {
      padding: em(11) em(15) em(11) em(15);
      span {
        font-size: $nav-subnav-font-size;
      }
    }
    &:hover {
      background-color: $nav-subnav-hover;
      .sn-level-3 {
        display: block !important;
        
      }
    }
  }
  &.menu-item-has-children .m-subnav-arrow {
    @include mq(large) {
      display:none;
    }
   }
}

.sn-level-4,
.sn-level-5,
.sn-level-3 {
  //background-color:green;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 14.0625em;
  position: relative;
    // border-left: 1px solid lighten($nav-hover, 10%);
  &.active {
    display: block;
  }
  @include mq(large) {
    
    position: absolute;
    top: 0;
    left: 100%;
    //width:22.5em;
    &.active {
      display: none;
    }
  }
}

.sn-li-l3 {
  @extend .sn-li-l2;
  padding-left: em(25);
  @include mq(large) {
    padding-left: em(0);
  }
  &:hover {
    .sn-level-4 {
      display: block !important;
      margin:em(-25);
      padding:em(25);
    }
  }
}

.sn-li-l4 {
  @extend .sn-li-l3;
  &:hover {
    .sn-level-5 {
      display: block !important;
      margin:em(-25);
      padding:em(25);
    }
  }
}

//Site Nav Container
.site-nav-container {
  background-color: $nav-background-mobile;
  width: $nav-width-mobile;
  height: auto;
  //left:-20em;
  right: -$nav-width-mobile;
  top: 0;
  z-index: 1000;
  position: absolute;
  @include transition(all .25s ease-in-out);
  padding-bottom: em(205);
  &.active {
    right: 0;
  }
  @include mq(large) {
    width: 100%;
    height: auto;
    right: auto;
    bottom: auto;
    top: auto;
    position: static;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
  }
}

.site-nav-container-screen {
  position: fixed;
  display: none;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  &.active {
    display: block;
  }
  @include mq(large) {
    display: none !important;
  }
}

.close-menu {
  display: inline-block;
  clear: both;
  //width:5em;
  position: relative;
  text-align: center;
  color: $black !important;
  padding: $baseline*.5 $baseline*2;
  padding-right: em(33,17);
  font-size: em(17);
  font-weight: 600;
  text-decoration: none;
  height: 25px;
  width: 24px;
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:after {
    content: '';
    background-color: transparent;
    background-image: url(img/close.svg);
    background-size: em(25,17) em(25,17);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: em(25,17);
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  @include mq(large) {
    display: none;
  }
}

.snc-header {
  padding: em(14) 1em em(17) em(15);
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);
  background-color: $dark-blue;
  @include mq(large) {
    display:none;
    padding: 0;
  }
}

.snc-footer {}
