          // Inner Wrap

/*
This is used to separate sections/modules of the website while still keeping a consistent max-width. Example below:
<section class="about-module">
  <div class="inner-wrap">
    Content here...
  </div>
</section>
*/

.inner-wrap {
  @include outer-container;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @include pad($baseline*3 $baseline*2 $baseline*3 $baseline*2);
  @include mq(medium) {
    @include pad($baseline*5 $baseline*3 $baseline*5 $baseline*3);
  }
}

.inner-wrap-narrow {
  @extend .inner-wrap;
  max-width: em(1159);
}

.inner-wrap-wide {
  @extend .inner-wrap;
  max-width: em(1295);
}
.inner-wrap-extra-wide {
  @extend .inner-wrap;
  max-width: em(1378);
}
.inner-wrap-fullwidth {
  @extend .inner-wrap;
  max-width: 100%;
}


/*=============== Sections ===============*/

.section-header-wrap {
  background-color: $light-gray;
  .inner-wrap {
    padding-top: $baseline*3;
    padding-bottom: $baseline*3;
  }
  h1 {
    margin: 0;
  }
  p {
    margin: .5em 0 0 0;
    @extend .emph;
  }
}

.section-cta {
  text-align: center;
}

.blockquote-text{
  color: $blue;
  font-weight: 600;
  position: relative;
  font-size: em(18);
  padding: 0 em(32,18) 0;
  margin-top: em(32,18);
  margin-bottom: em(32,18);
  &:before{
    position:absolute;
    content: '';
    top: 0;
    left: 0;
    width:em(8);
    height: 100%;
    background-color: $blue;
  }
  @include mq(medium){
    max-width: em(960,21);
    width: 100%;
    margin: auto;
    font-size: $medium-font-size;
    line-height: em(28,21);
    padding: 0 em(16,21) 0 em(45,21);
    margin-top: em(74,21);
    margin-bottom: em(74,21);
  }
}

/*================ Dest Slider ============= */

.innerpage-carousel {
  max-width: em(459);
  margin:0;
  .slider-for {
    margin-bottom: em(8);
    .slick-list {
      .slick-slide {
        overflow: hidden;
      }
    }
    a {
      overflow: hidden;
      &:focus:not(:hover):not(:active) {
        outline-offset: -2px;
      }
    }    
  }

  .slider-nav {
    .slick-list {
      margin-right: em(72);

      .slick-slide {
        margin-right: em(8);
        position: relative;
        line-height: 0;
        /*overflow: hidden;*/
        img {
          width: 100%;
        }

      }
    }

    .slick-arrow {
      font-size: em(18);
      height:em(20,18);
      width:em(13,18);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      min-width: inherit;
      background-color: $white;
      padding: 0;
      opacity: 1;
      &.slick-prev {
        display: none !important;
      }

      &.slick-next {
        right: em(24,18);
        display: inline-block !important;
        &:before {
          content: '';
          font-size: em(18,18);        
          display: inline-block;
          opacity: 1;
          width:100%;
          height:em(20,18);
          background-image:url(img/slider-arrow.svg);         
          background-repeat: no-repeat;
          background-position: center center; 
          background-size: contain;
          background-size: em(13,18) em(20,18);
          @include transition(0.25s all linear);          
        }
        &:hover{
          border:0;
          &:before{
            width:100%;
            height:em(20,18);
            background-image:url(img/slider-arrow-hover.svg); 
            background-size: em(13,18) em(20,18);
          }
        }
      }
    }
  }
  @include mq(medium){
    padding-right: em(8);    
  } 
}

.slider-nav-item{
  display: inline-block;
  &:focus:not(:hover):not(:active) {
    outline-offset: -2px;
  }
}



.innerpage-carousel-widthout-thumb{
  max-width: em(459);
  margin-top: em(32);
  .slick-dots{    
    li{
      width: 8px;
      height: 8px;
      button{
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: transparent;
        padding: 0;
        border: 1px solid $blue;
        &:before{
          display: none;
        }
      }
      &.slick-active{
        width: 8px;
        height: 8px;
        button{
          width: 8px;
          height: 8px;
          background-color: $blue;
          border: 0;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
  @include mq(medium){
    padding-left: em(8);
    margin-top: 0;
  } 
}


/*=============== Accordion Tabs ===============*/

.accordion-tabs {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $tab-border: 1px solid $blue;
  $tab-content-background: $white;
  $tab-active-background: $blue;
  $tab-inactive-color: $blue;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;
  @include clearfix;
  line-height: 1.5;
  margin-bottom: $base-spacing;
  padding: 0 !important;
  border: 0;
  @include media(max-width $tab-mode) {
    border-radius: $base-border-radius;
  }
  @include mq(medium) {
    border: 0;
  }
  .tab-header-and-content {
    list-style: none;
    //font-size:1.15em;
    margin-bottom: 0;
    border-bottom: 1px solid rgba($white,0.3);
    &:after {
      display: none;
    }
    @include media($tab-mode) {
      &:first-child{
        //margin-left: 0;
      }
      display: inline;
    }
    &:first-child .tab-link {
      @include media(max-width $tab-mode) {
        //border-top: 0;
        //border-top-left-radius: 5px;
      //border-top-right-radius: 5px;
      }
    }
    &:last-child .tab-link {
      @include media(max-width $tab-mode) {
        //border-bottom-left-radius: 5px;
        //border-bottom-right-radius: 5px;
      }
    }
  }
  .tab-link {
    background-color: $blue;
    color: $white;
    display: block;    
    font-size: em(18);
    line-height: normal;
    padding: em(11,18) em(28,18);
    text-decoration: none;
    border-bottom: 0;
    vertical-align: bottom;
    font-weight: 600;
    font-family: $header-font-family;
    @include media($tab-mode) {
      display: inline-block;
      border: 0;
      margin-right: 2px;
    }
    &:hover {
      //border: 1px solid $blue;
      border-bottom: 0;
    }
    &:focus {
      outline: none;
    }
    &:focus:not(:hover):not(:active) {
      outline: 2px dashed $red;
      outline-offset: -2px;
    }
    &.is-active {
      background-color: $brown;    
      color: $white;  
      @include media($tab-mode) {        
        border: 0;
      }
    }
  }
  .tab-content {
    background:$light-gray;
    border-top: 1px solid #222222;
    display: none;
    padding: $base-spacing $gutter;
    width: 100%;
    font-size: em(16);
    line-height: em(32,18);
    @include margin-fix;
    @include media($tab-mode) {
      //border-bottom-left-radius: 5px;
      //border-bottom-right-radius:5px;
      border-top-right-radius: $base-border-radius;
      float: left;
    }
  }
}

//*=============== Click to Expand ===============*/

.click-expand {
  clear: both;
  border: 0;
  /*overflow: hidden;*/
  margin-bottom: $baseline*3;
  background-color: $light-gray;
  @include transition (all .2s ease-in-out);
  &.active {
    &:hover {
      background-color: $white;
      .ce-header {
        //color:$blue; 
      }
    }
    .ce-header {
      &:after {
        content:"";
        position: absolute;
        color: $white;
        background-image: url(img/ico-minus.svg);
        width: 13px;
        height: 2px;
        background-size:13px 2px;
        background-repeat: no-repeat;
      }
    }
    .ce-body {
      display: block;
      opacity: 1;
      @include animation(click-expand .5s 1);
      @include animation-fill-mode(backwards);
      @include animation-delay(.05s);
      padding: $base-spacing $gutter;
      display: block;
      @include margin-fix;
    }
  }
  &:hover {
    background-color: $base-border-color;
    .ce-header {
      //color:$white;
    }
  }
  &.active {
    .ce-header {
        background-color: $brown;      
    }
  }
}

.ce-header {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding-left: em(28,18);
  padding-right: em(32,18);
  padding-top:em(19,18);
  padding-bottom: em(19,18);
  font-size: em(18);
  background-color: $blue;      
  color: $white;
  font-weight: 600;
  text-transform: none;
  &:after {
    content: "";
    background-image: url(img/ico-plus.svg);
    color: $white;
    padding-left: 8px;
    position: absolute;
    right: em(16);
    width: 13px;
    height: 13px;
    background-size:13px 13px;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    @include mq(xsmall){
      top: 62%;
      right: em(16);
    }
  }
  &:focus:not(:hover):not(:active) {
    outline: 2px dashed $base-font-color;
    outline-offset: 2px;
  }

}

.ce-body {
  display: none;
  opacity: 0;
  background-color: $light-gray;
  p{
    font-size: em(16);
    line-height: em(32,16);
  }
}

@include keyframes(click-expand) {
  from {
    //@include transform(scale(0));
    opacity: 0;
  }
  to {
    //@include transform(scale(1));
    opacity: 1;
  }
}

/*=============== Product Grid ===============*/

.product-grid {
  clear: both;
}

.product-grid-item {
  font-size: .875em;
  text-decoration: none;
  text-align: center;
  background-color: $white;
  padding: $baseline*2;
  border-bottom: $base-border;
  border-right: $base-border;
  overflow: hidden;
  display: block;
  @include transition (all .15s ease-in-out);
  &:hover {
    //background-color: $light-gray;
    border-bottom: 1px solid $gray;
    border-right: 1px solid $gray;
    .product-grid-item-img {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.07);
      -o-transform: scale(1.07);
      transform: scale(1.07);
    }
  }
  @include mq(medium) {
    font-size: .75em;
    margin-bottom: $baseline*3;
  }
  @include mq(large) {
    font-size: 1em;
  }
  @include mq(huge) {}
}

.product-grid-item-header-wrap {
  @include mq(medium) {
    height: 4em;
    line-height: 4em;
    margin-bottom: $baseline*2;
    .product-grid-item-header {
      display: inline-block;
      vertical-align: middle;
    }
  }
  @include mq(large) {
    height: 4em;
    line-height: 4em;
  }
}

.product-grid-item-header {
  font-size: em(18);
  color: $base-color;
  text-decoration: none;
  margin: 0 0 0 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
}

.product-grid-item-subheader {
  color: $black;
  margin: 0 0 $baseline*2 0;
  width: 70%;
  float: right;
  text-align: left;
  clear: none;
  font-size: em(15);
  @include mq(medium) {
    width: auto;
    float: none;
    text-align: center;
  }
  @include mq(large) {
    min-height: $baseline*6;
  }
}

.product-grid-item-img {
  float: left;
  width: 25%;
  margin-top: -1em;
  display: block;
  margin: 0 auto;
  @include transition (all .15s ease-in-out);
  @include mq(medium) {
    margin-top: 0;
    float: none;
    width: auto;
  }
}

.product-grid-item-link {
  margin: $baseline*2 0 0 0;
  float: right;
  text-align: left;
  clear: none;
  @extend .btn;
  font-size: .75em;
  @include mq(medium) {
    //@extend .small-font-size;
    width: auto;
    float: none;
    text-align: center;
  }
}

/*============Side Navigation Test==============*/
.side-nav {
  margin: 0 auto;
  h3 {
    margin-top: 0;
  }
}
.sn-nav {
  max-width: em(262);
  overflow: hidden;
  margin-bottom: em(50);
  li {
    background-color: #EFEFEF;
    position: relative;
    &:last-child {
      a {
        border-bottom:0;        
      }
    }
    &.active {
    }
    a {
      color: $medium-gray;
      display: block;
      font-size: $base-font-size;
      line-height: em(24);
      text-decoration: none;
      padding: em(11) em(40) em(11) em(16);
      font-weight: 500;
      border-bottom: 1px solid rgba(#0F7BBC,0.3);
    }
  }
  .menu-item-has-children {
    .m-subnav-arrow {
      cursor: pointer;
      padding-right: 0em;
      background-image: url(img/ico-arrow-blue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13px 8px;
      display: block;
      width: em(40);
      height: em(46);
      //height: $nav-height;
      position: absolute;
      background-color: transparent;
      right: 0;
      top: 0;
      bottom: 0;
      &.active {
        @include transform(rotate(180deg));
      }
    }
    ul {
      margin-bottom: 0;
      padding: 0;
      display: none;
      background-color: #EFEFEF;
      li {
        margin-bottom: 0;
        /*background-color:$white;*/
        border-bottom: 0;
        a {
          color: $medium-gray;
          padding: em(1) 0;
          font-size: $base-font-size;
          line-height: em(25,18);
          font-weight: 400;
          border:0;
        }
        &:not([class]) { 
          margin-bottom: 0;
          padding:0;
          &:after {
            display:none;
          }
        }
        &:hover {
          a {
            color: $light-blue;
          }
        }
      }
      &:not([class]) {
        margin-bottom: 0;
      }
    }
    ul {
      border-bottom: 1px solid rgba(#0F7BBC,0.3);
      &.active {
        display:block;
        padding: em(16);
        li{
          background: transparent;
        }
      }
    }
    &.active {
      &>a {
        background: #EFEFEF;
      }
    }
  }
}


/*=============== Product Carousel ===============*/

.product-carousel {}

.product-item {
  text-decoration: none;
  &:hover{
    color: $red;
    .product-title{
      color: $red;
    }
  }
  img{
    display: block;
    width: 100%;
  }
  @include mq(medium) {
    @include span-columns(3 of 12);
  }
   @include mq(small) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }
}

.product-title{
  font-size: em(20);
  display: block;
  text-align: center;
  line-height: em(32, 20);
  margin-top: em(10,20);
  font-weight: normal;
  color: $black;
  font-weight: 600;
}

/*=============== Media Object ===============*/

.media-object {
  overflow: hidden;
}

.media-object-img {
  width: 20%;
  float: left;
  display: block;
  margin-right: 5%;
  img {
    width: 100%;
  }
}

.media-object-body {
  width: 75%;
  float: left;
}

.media-object-header {
  margin-top: 0;
  margin-bottom: .15em;
}

.media-grid-2 {
  > * {
    margin-bottom: $baseline*2;
  }
  @include mq(medium) {
    > * {
      @include span-columns(4.5 of 9);
      @include omega(2n);
      margin-bottom: $baseline*3;
    }
  }
}


/*======= Responsive iFrame / YouTube / HTML5 Video =======*/

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 1.8em;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*=============== Slide Panel ===============*/

.slide-panel {
  display: none;
  position: fixed;
  background: $light-gray;
  color: #fff;
  height: 100%;
  width: em(340);
  right: em(-340);
  top: 14%;
  z-index: 10;
  @include transition (right 0.4s ease-in-out);
  h2 {
    padding: .2em 1em;
  }
  p {
    background: $light-gray;
    padding: .25px 2em;
  }
  label {
    color: $white !important;
  }
  &:hover {
    right: 0px;
  }
  @include mq(medium) {
    display: block;
  }
}

.slide-panel-button {
  position: absolute;
  top: 50px;
  right: 340px;
  padding: 20px 20px;
  background: $light-gray;
  min-width: 200px;
}


/*=============== Slide Box ===============*/

#last {
  margin: 0;
  padding: 0;
}

#slidebox {
  padding: em(10) em(10) em(10) em(16);
  position: fixed;
  bottom: 0;
  right: em(-430);
  z-index: 1000;
  width: 100%;
  background-color: $base-color;
  @include mq(medium) {
    width: auto;
  }
}

a.close {
  //background: transparent url(http://cdn2.hubspot.net/hub/53/file-527841348-gif/close.gif?t=1402397452961) no-repeat top right;
  background-color: white;
  //background-color:rgba(255,255,255,.75);
  color: $blue;
  text-align: center;
  float: left;
  padding: 0 $baseline;
  font-size: em(11);
  border-radius: em(3);
  position: absolute;
  cursor: pointer;
  top: 1.5em;
  right: 2em;
  //display:none;
}

a.close:hover {
  background-color: rgba(255, 255, 255, .75);
}




/*=============== HubSpot Thumbnail Slider Gallery  ===============*/

.hs_cos_gallery_thumbnails {
  .hs_cos_gallery_slide {
    &:hover {
      cursor: pointer;
    }
  }
  img {
    height: em(60);
    object-fit: cover;
    border: 1px solid $base-border-color;
  }
  .slick-current {
    img {
      border: 1px solid $base-accent-color;
    }
  }
}

/*=============== Misc ===============*/

hr {
  display: block;
  clear: both;
}

figure {
  margin: 0;
  padding: 0;
}

.wp-pagenavi {
  > * {
    margin-right: .75em;
  }
}


/*=============== Lightbox / Magnific Popup  ===============*/

.white-popup {
  position: relative;
  background: $white;
  padding: 2.5em;
  width: auto;
  max-width: em(600);
  margin: em(20) auto;
  > * {
    margin-top: 0;
  }
}

.mfp-fade-side {
  .mfp-content, .white-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}


/* overlay at start */

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition (all .5s ease-in-out);
}


/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}


/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}


/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition (all .5s ease-in-out);
  @include transform(translateY(100px));
}


/* content animate it */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  @include transform(translateY(0px));
}


/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  @include transform(translateY(100px));
}


/*=============== Layouts  ===============*/

.page-intro {
  min-height: em(86);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center; 
  &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url(img/pattern-cta-gradient.png);
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }   
    .inner-wrap {
        position: relative;
        padding-top: em(20);
        padding-bottom: em(20);        
      }
  
  .pi-heading {
    font-size: em(38);
    line-height: em(47,38);
    margin: 0;
    text-transform: uppercase;
  }
  p {
    font-size: em(30);
    color: $white;
    padding-left: em(20,30);
    line-height: 1;
    font-weight: 300;
    margin-top: em(8,30);
    @include mq(large) {
      padding-left: em(112,30);
    }
  }
}

.breadcrumb-menu{
  margin-bottom: em(32);
  font-size: 16px;
  color: $medium-gray;
  a{
    color: $medium-gray;
    text-decoration: none;
    margin-right: 10px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      color:  $red;
    }
  }
  .breadcrumb_last{
    margin-left: 14px;
  }
}

.breadcrumb-arrow{
  display: inline-block;
  width: em(8);
  height: em(12);
  background-image: url(img/ico-arrow1.svg);
  background-size: em(8) em(12);
  background-repeat: no-repeat;
}

.site-content {
  @include mq(large) {
    &.one-column {
      .site-content-primary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .site-content-secondary {
        @include span-columns(12 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.two-column {
      .site-content-primary {
        @include span-columns(9 of 12);
      }
      .site-content-secondary {
        @include span-columns(3 of 12);
        @include omega;
      }
      .additional-content {}
    }
    &.three-column {
      .site-content-primary {
        @include span-columns(4 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
      }
      .additional-content {
        @include span-columns(4 of 12);
        @include omega;
      }
    }
    &.two-column-alt {
      .site-content-primary {
        @include span-columns(8 of 12);
      }
      .site-content-secondary {
        @include span-columns(4 of 12);
        @include omega;
      }
      .additional-content {}
    }
  }
}

.destination{
  >.inner-wrap{
    padding-top: em(14);
    padding-bottom: 0;
  }
}


/*========= Button Style ========*/
.btn-wrap {
    display: inline-block;
    vertical-align: middle;
  > div {
    margin-bottom: em(24);

    @include mq(medium){
      display: inline-block;
      margin-right: em(16);
    }
    @include mq(xlarge){
      margin-bottom: 0;
    }
  }
}

.btn-on-color {
  display: inline-block;
    background-color: #333333;
    text-align: center;
    vertical-align: middle;
    max-width: 28.125em;
    width: 100%;
    padding: 0.875em 1.25em;
    .btn-color {
      margin-bottom: em(16);
    }
}


/*======= Color Pallete =======*/
.cp-wrap{
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  margin-top: em(48);
  margin-bottom: em(85);
  @include mq(large){
    @include flex-wrap(nowrap);
  }
}

.cp-item{
  @include display(flex);
  @include align-items(center);
  margin-bottom: em(16);
  @include mq(medium){
    width: 50%;
  }
  @include mq(large){
    width: 25%;
  }
}

.cp-color{
  width: em(90);
  height: em(90);
}

.cp-content{
  padding-left: em(29);
  span{
    display: block;
    font-size: em(17);
    line-height: em(27,17);    
    color: #333333;
    &.cp-title{
      font-weight: 700;
      color: $gray;
      text-transform: inherit;
      font-size: em(18);
    }
  }
}

/*====== Typography =======*/
.typo-wrap{
  margin-top: em(57);  
  @include mq(small){
    h2{
      font-size: em(30); 
    }
  }
}

.tw-title {
  font-size: em(18);
  color: $gray;
  span {
    font-weight: 700;
    color: $base-font-color;
  }
}

.heading-wrap{
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  position: relative;
  background-color: $white;
  margin-bottom: em(48);
  > * {
    position: relative;
    z-index: 1;
  }
  .inner-wrap{
    padding-bottom: 0;
  }
  @include mq(large){
    &:after{
      content:'';
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: $blue;
    }
  }
}

.lb-title{
  &:after{
    background-color: $blue;
  }
}

.on-light-bg{
  padding: em(16); 
  color: $gray;
  h1{
    color: $gray;    
  }  
  h2{   
    color: $gray !important;font-family: $base-font-family;
    text-transform: inherit;
    font-size: em(34);
    font-weight: 400;
  } 
  @include mq(medium){
    padding: 0;
  }
}

.on-color-bg{
  background-color: $blue;
  color: $white;
  padding: em(16);
  h1{
    color: $white;
  }
  h2{
    font-family: $base-font-family;
    color: $white;
    font-weight: 400;
    text-transform: inherit;
    font-size: em(34);
  } 
  @include mq(large){
    padding: 0;
    .hw-txt{
      float: right;
    }
  }
}

.hw-txt{
  @include mq(large){
    max-width: em(456);
    width: 100%;
  }
}

/*====== Icon Navigation =======*/
.icn-nav{
  @include display(flex);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
  @include mq(large){
    @include justify-content(space-between);    
  }
}

.in-item{
  text-align: center;
  min-width: em(100);
  margin-bottom: em(16);
  @include mq(large){
    min-width: inherit;
  }
}

.in-img{
  display: table;
  width: em(68);
  margin: auto;
  height: em(68);
  border: 1px solid $medium-gray;
  text-align: center;
  background-color: $white;
  figure{
    display: table-cell;
    vertical-align: middle;
  }
  img{
    width: auto;
    margin: auto;
    max-height: em(18);
    vertical-align: middle;
  }
}

.in-title{
  display: block;
  line-height: em(26);
  margin-top: em(16);
}

.cta-module{
  .inner-wrap{
    padding-bottom: em(20);
  }
}

.cta-wrap{
  text-align: center;
  /*max-width: em(984);*/
  width: 100%;
  margin: auto;
  @include mq(large){
    text-align: left;
    @include display(flex);
    @include justify-content(space-between);
    h3{
      margin-bottom: 0;
    }  
    div{
      @include flex-grow(1);
    }  
  }
}

.cw-left{
  @include mq(large){
    text-align: left;
    width: 52%;
  }
}

.cw-title {
  text-transform: inherit;
  font-weight: normal;
  font-family: $header-font-family;
  font-size: em(34);
  font-weight: 600;
  @include mq(large){
    margin-bottom: 0;
  }
}

.cw-right{
  @include mq(large){
    text-align: right;
    width: 48%;
  }
}

.btn-contact{  
  margin-bottom: em(20,20);  
  
  @include mq(medium){
    margin-bottom: em(20,16);  
    margin-right: em(34,16);
  }
}



/*======== Full Width CTA ========*/
.fwc-module{
  background-color: $blue;
  text-align: center;
  background-size: cover; 
  .inner-wrap{
    padding-top: em(56);
    padding-bottom: em(56);
  }
}



.fwc-title {
  color: $white;
  margin-bottom: 28px;
  text-transform: inherit;

  @include mq(large){
    font-size: em(36);
    display: block;
    &:after {
      width: 95%;
    }
  }
 
  
}
.fwc-wrap {
  color: $white;
  text-align: center;
 
}
.fwc-content {
  text-align: center;
  
  p {
    font-size:em(19);
  }
}
.fwc-btn {
  
  a {
  &:focus:not(:hover):not(:active) {
      outline-color: $white;
       outline-offset: 2px;
    }
  }
  

}

/*======== Gravity Form ========*/
body {
  .gform_wrapper {
    background-color: $light-gray;
    .gfield_label {
      font-size: em(16) !important;
      color: #181818;
    }    
    .gform_footer {
      .gform_button{
        font-size: em(18) !important;
        margin-right: 0 !important;
        width: auto;    
        padding: em(13,18) em(30,18) !important;  
        color: $white;
        background-color: $red; 
        border: 2px solid $red;
        &:hover{
          background-color: transparent;
          color: $red;
        }
      }
    }
    @include mq(medium) {
      label.gfield_label {
        min-height: em(40);
      }
    }
    @include mq(large) {
      label.gfield_label {
        min-height: inherit;
      }
    }
  }  
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .innerpage-carousel {
    .slider-nav {
      .slick-arrow {
        width: 13px;
        height: 20px;
        &.slick-next {
          &:before{
            height:20px;
            background-size: 13px 20px;
          }
          &:hover{
            &:before{
              height:20px;
              background-size: 13px 20px;
            }
          }
        }
      }
    }       
  }
}

@supports (-ms-ime-align:auto) {
  .innerpage-carousel {
    .slider-nav {
      .slick-arrow {
        width: 13px;
        height: 20px;
        &.slick-next {
          &:before{
            height:20px;
            background-size: 13px 20px;
          }
          &:hover{
            &:before{
              height:20px;
              background-size: 13px 20px;
            }
          }
        }
      }
    }       
  }
}
